
<div class="title">
    <h2>Juventus Catalog</h2>
</div>

<div class="cd-section">
    <div class="row">
        {% for i in list_of_catalogs %}
        <div class="col-md-6 col-lg-4">
            <div class="rotating-card-container">
                <div class="card card-rotate card-background">
                    <div class="front front-background"
                         style="background-image: url('static/img/match-kit.jpg');
                         height: 302px; width: 360px;">
                        <div class="card-content">
                            <h2 class="card-title">{{i.name}}</h2>
                        </div>
                    </div>
                    <div class="back back-background"
                         style="background-image: url('static/img/match-kit.jpg');
                         height: 302px; width: 360px;">
                        <div class="card-content">
                            <div class="footer text-center">
                                <a href="{{url_for('showCatalog' , catalog_id = i.id) }}"
                                   class="btn btn-success btn-just-icon btn-fill btn-round">
                                    <i class="material-icons">shopping_cart</i>
                                        Click here
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
